.grad-blue {
    --background: linear-gradient(to right, #007bff, #2196F3);
    color: white; /* Couleur du texte */
  }
  
  .paragraph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hauteur de 100% de la vue, pour centrer verticalement */
    background-color: #000; /* Fond sombre */
  }
  
  .paragraph {
    color: #ccc; /* Couleur du texte gris clair */
    font-size: 18px;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Fond sombre semi-transparent */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Ombre légère */
  }
  