<ion-header>
  <ion-toolbar class="grad-blue">
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngFor="let annonce of annonces$ | async "> 
    <ion-card-header>

      <ion-grid>
      <ion-row>
        <ion-avatar *ngFor="let imageUrl2 of userImageUrls">
          <img [src]="imageUrl2" alt="Image de profil">
        </ion-avatar>
      </ion-row>
    </ion-grid>

    </ion-card-header>

    <ion-card-content>

      <ion-item>
      <p>Nom: {{ annonce.lastName }}</p>
    </ion-item>

      <ion-item>
        <p>Contact: {{ annonce.phoneOrEmail }}</p>
      </ion-item>

      <ion-badge [color]="userProfile.onlineStatus ? 'success' : 'danger'">
        {{ userProfile.onlineStatus ? 'En ligne' : 'Hors ligne' }}
      </ion-badge>
      
      <!-- Bouton de déconnexion -->
      <ion-button expand="full" color="danger" (click)="logout()">Se Déconnecter</ion-button>

      <!-- Bouton pour accéder à la page de création d'annonces -->
      <ion-button expand="full" class="grad-blue" (click)="goToCreateAdPage()">Créer une Annonce</ion-button>
   
    </ion-card-content>
  </ion-card>
</ion-content>
