<!-- page-recherche.page.html -->
<ion-header>
  <ion-toolbar class="grad-blue">
    <ion-title>Recherche</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  
  <ion-searchbar  [(ngModel)]="searchQuery" color="light" (ionChange)="onSearch()"></ion-searchbar>
<ion-chip *ngFor="let category of categories" (click)="filterByCategory(category)"
    [color]="selectedCategory === category ? 'primary' : 'light'">
    <ion-label>{{ category }}</ion-label>
  </ion-chip>
 
    <ion-card *ngFor="let annonce of annonces$ | async">
      <ion-card-content  *ngIf="!userImageUrls" >
        <!-- Afficher les images de profil depuis Firebase Firestore -->
        <ion-grid>
         <ion-row>
           <ion-col size="7" *ngFor="let imageUrlProfile of annonce.userImageUrls">
             <ion-avatar>
               <img [src]="imageUrlProfile" alt="Image de profil">      
             </ion-avatar>
             
           </ion-col>
         
         </ion-row>
         <ion-badge class="grad-blue">
           Nom vendeur(euse) : {{ annonce.Nomvendeur }}
         </ion-badge>
       </ion-grid>
 
 
 
        <!-- Affichez les images depuis Firebase Storage -->
        <ion-row>
         <ion-col *ngFor="let imageUrl of annonce.images" >
           <img  [src]="imageUrl" alt="Image de l'annonce" (click)="previewImage(imageUrl)">
           
         </ion-col>
       </ion-row>
 
       <ion-card-title>Informations de l'annonce</ion-card-title>
       
       <p>Description : {{ annonce.description }}</p>
       <p>Téléphone 1 : {{ annonce.phone1 }}</p>
       <p>Téléphone 2 : {{ annonce.phone2 }}</p>
       <p>Téléphone 3 : {{ annonce.phone3 }}</p>
       <p>Statut : {{ annonce.statut }}</p>
       <p>Ville : {{ annonce.ville }}</p>
       <p>Pays : {{ annonce.pays }}</p>
       <p>Quartier : {{ annonce.quartier }}</p>
       <p>Référence annexes : {{ annonce.referenceAnnexes }}</p>
       <p>Prix du bien en FCFA : {{ annonce.prix }}</p>
       <p>Statut du prix : {{ annonce.prixStatus }}</p>
       <p>Date de création de l'annonce : {{ annonce.dateAnciennete }}</p>
       <p>Taille du bien : {{ annonce.taille }}</p>
       <p>Référence annexes du bien : {{ annonce.referenceAnnexesBien }}</p>
         <!-- Ajoutez un lien vers la page "gest-annonce" avec les détails de l'annonce -->
   <a [routerLink]="['/tabs/gest-annonce', annonce.id]">
 
     <ion-button (click)="selectCard(annonce)">Sélectionner</ion-button> </a>
     </ion-card-content>
   </ion-card>



  <div *ngIf="(annonces$ | async)?.length === 0">
    <p>Aucun résultat trouvé.</p>
  </div>
  
</ion-content>