.grad-blue {
  --background: linear-gradient(to right, #007bff, #2196F3);
  color: white; /* Couleur du texte */
}

ion-avatar {
  width: 100px; /* Définissez la largeur souhaitée */
  height: 100px; /* Définissez la hauteur souhaitée */
}

/* styles.scss */

/* Style spécifique pour le bouton associé au champ de fichier */
#custom-file-input + ion-label::after {
  content: ' Parcourir';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 0.5em 1em;
  background-color: #3880ff; /* Couleur de fond du bouton Parcourir (bleu) */
  color: #fff; /* Couleur du texte */
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition pour l'effet au survol */
}

#custom-file-input + ion-label::after:hover {
  background-color: #2d68c4; /* Couleur de fond du bouton Parcourir au survol */
}
