<ion-header>
  <ion-toolbar class="grad-blue" style="background: url('../assets/dd.png') no-repeat center center / cover;">
    <ion-title>
   </ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" class="custom-button" expand="block" (click)="goToGestAnnoncePage()">
        <ion-icon name="arrow-forward-circle-outline" slot="start"></ion-icon>
        Créer une annonce
      </ion-button>  
      <ion-button color="dark" *ngIf="!connexionReussie" (click)="goToLoginPage()" routerLink="/tabs/login-page">
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>
      <ion-button  color="dark"  *ngIf="!inscriptionReussie" (click)="goToSignupPage()" routerLink="/tabs/signup-page">
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-button (click)="searchByCategory('Bien immobilier')"  class="small" id="clear">
    <ion-icon name="home-outline"></ion-icon>
    Bien immobilier
  </ion-button>

  <ion-button (click)="searchByCategory('Technologie')"  class="small" id="clear">
    <ion-icon name="hardware-chip-outline"></ion-icon>
    Technologie
  </ion-button>

  <ion-button (click)="searchByCategory('Beauté')"  class="small" id="clear">
    <ion-icon name="brush-outline"></ion-icon>
    Beauté
  </ion-button>

  <ion-button (click)="searchByCategory('Mode')"  class="small" id="clear">
    <ion-icon name="shirt-outline"></ion-icon>
    Mode
  </ion-button>

  <ion-button (click)="searchByCategory('Matériel de transport')"  class="small" id="clear">
    <ion-icon name="car-outline"></ion-icon>
    Matériel de transport
  </ion-button>

  <ion-button (click)="searchByCategory('Propriété')"  class="small" id="clear">
    <ion-icon name="home-outline"></ion-icon>
    Propriété
  </ion-button>

  <ion-button (click)="searchByCategory('Art')"  class="small" id="clear">
    <ion-icon name="color-palette-outline"></ion-icon>
    Art
  </ion-button>

  <ion-button (click)="searchByCategory('Services')"  class="small" id="clear">
    <ion-icon name="hammer-outline"></ion-icon>
    Services
  </ion-button>

  <ion-button (click)="searchByCategory('Alimentation')"  class="small" id="clear">
    <ion-icon name="restaurant-outline"></ion-icon>
    Alimentation
  </ion-button>

  <ion-button (click)="searchByCategory('Autres')"  class="small" >
    <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    Autres
  </ion-button>

  <h1>Actualités</h1>

  <ion-card class="announcement-carousel" class="ion-padding horizontal-scroll">
    <div class="horizontal-card" >
      <img src="assets\Img Pub.jpeg" alt="" class="full-width-height">
        </div>
</ion-card>

<!-- verticale card -->
<h1>Annonces</h1>

  <ion-card *ngFor="let annonce of annonces$ | async"  [attr.id]="annonce.id">
    
  <ion-card-content *ngIf="!userImageUrls" >
       <!-- Afficher les images de profil depuis Firebase Firestore -->
       <ion-grid>
        <ion-row>
          <ion-col size="7" *ngFor="let imageUrlProfile of annonce.userImageUrls">
            <ion-avatar>
              <img [src]="imageUrlProfile" alt="Image de profil">      
            </ion-avatar>
            
          </ion-col>
        
        </ion-row>
        <ion-badge class="grad-blue">
          {{ annonce.Nomvendeur }}
        </ion-badge>
      </ion-grid>



       <!-- Affichez les images depuis Firebase Storage -->
       <ion-row>
        <ion-col *ngFor="let imageUrl of annonce.images" >
          <img  [src]="imageUrl" alt="Image de l'annonce" (click)="previewImage(imageUrl)">
          
        </ion-col>
      </ion-row>

      <ion-card-title>Infos</ion-card-title>
      
      <p>Description : {{ annonce.description }}</p>
      <p>Catégorie : {{ annonce.categorie }}</p>
      <p>Téléphone 1 : {{ annonce.phone1 }}</p>
      <p>Téléphone 2 : {{ annonce.phone2 }}</p>
      <p>Téléphone 3 : {{ annonce.phone3 }}</p>
      <p>Statut : {{ annonce.statut }}</p>
      <p>Ville : {{ annonce.ville }}</p>
      <p>Pays : {{ annonce.pays }}</p>
      <p>Quartier : {{ annonce.quartier }}</p>
      <p>Référence annexes : {{ annonce.referenceAnnexes }}</p>
      <p>Prix du bien en FCFA : {{ annonce.prix }}</p>
      <p>Statut du prix : {{ annonce.prixStatus }}</p>
      <p>Date de création de l'annonce : {{ annonce.dateAnciennete }}</p>
      <p>Taille du bien : {{ annonce.taille }}</p>
      <p>Référence annexes du bien : {{ annonce.referenceAnnexesBien }}</p>
        <!-- Ajoutez un lien vers la page "gest-annonce" avec les détails de l'annonce -->
  <a [routerLink]="['/tabs/gest-annonce', annonce.id]">

    <ion-button (click)="selectCard(annonce)">Sélectionner</ion-button> </a>


  </ion-card-content>
</ion-card>

</ion-content>
