<ion-header>
  <ion-toolbar>
    <ion-title>Conditions d'utilisation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Vos conditions d'utilisation ici -->
  <p>Conditions Générales d'Utilisation de l'Application

    Dernière mise à jour : 02/11/2023
    
    Ces Conditions Générales d'Utilisation  régissent votre utilisation de l'application mobile  proposée par [Nom de votre entreprise] ("nous", "notre" ou "nos"). Veuillez lire attentivement ces Conditions avant d'utiliser l'Application. En utilisant l'Application, vous acceptez d'être lié par ces Conditions. Si vous n'acceptez pas ces Conditions, veuillez ne pas utiliser l'Application.
    
    1. Objet de l'Application
    
    L'Application est une plateforme mobile qui permet aux utilisateurs de vendre, d'acheter et de consulter des annonces pour divers biens, notamment, mais sans s'y limiter, des terrains, des biens immobiliers, des véhicules, des équipements de transport, et d'autres biens associés ("Biens"). L'Application vise à faciliter les transactions entre les utilisateurs concernant ces Biens.
    
    2. Utilisation de l'Application
    
    2.1. Eligibilité
    
    L'utilisation de l'Application est réservée aux utilisateurs âgés de 18 ans et plus. En utilisant l'Application, vous déclarez et garantissez que vous avez au moins 18 ans.
    
    2.2. Inscription
    
    Pour utiliser certaines fonctionnalités de l'Application, vous devrez peut-être vous inscrire en créant un compte utilisateur. Vous êtes responsable de maintenir la confidentialité de vos informations d'identification et de l'activité qui se déroule sous votre compte.
    
    2.3. Contenu Utilisateur
    
    Vous êtes seul responsable de tout contenu, notamment des annonces, des images, des descriptions et des informations que vous publiez ou partagez via l'Application. Vous acceptez de ne pas publier de contenu frauduleux, diffamatoire, offensant ou illégal.
    
    3. Transactions et Annonces
    
    3.1. Responsabilité
    
    Toutes les transactions effectuées via l'Application sont conclues entre les utilisateurs. Nous ne sommes pas responsables des transactions, de la qualité des Biens ou de la véracité des annonces. Vous acceptez que nous ne soyons pas responsables des litiges entre utilisateurs.
    
    3.2. Annonces
    
    Nous nous efforçons de fournir des annonces précises et complètes. Cependant, nous ne garantissons pas l'exactitude, la légalité, la qualité ou la sécurité des annonces ou des Biens proposés. Il vous appartient de vérifier les informations fournies par les vendeurs.
    
    4. Confidentialité
    
    Nous accordons une grande importance à la protection de votre vie privée. Nos pratiques de collecte et d'utilisation de vos données personnelles sont régies par notre Politique de Confidentialité. En utilisant l'Application, vous acceptez nos pratiques en matière de confidentialité.
    
    5. Modifications des Conditions
    
    Nous nous réservons le droit de modifier ces Conditions à tout moment. Toute modification prendra effet dès sa publication dans l'Application. Il est de votre responsabilité de consulter régulièrement les Conditions. Si vous continuez à utiliser l'Application après la publication des modifications, cela signifie que vous acceptez les Conditions modifiées.
    
    6. Résiliation
    
    Nous nous réservons le droit de résilier ou de suspendre votre accès à l'Application à tout moment, avec ou sans préavis, pour violation des Conditions ou pour tout autre motif.
    
    7. Contact
    
    Si vous avez des questions ou des préoccupations concernant ces Conditions, veuillez nous contacter à Yakatovanda@proton.me.</p>

  <ion-button expand="full" (click)="acceptTerms()">Accepter</ion-button>
  <ion-button expand="full" (click)="declineTerms()">Refuser</ion-button>
</ion-content>
